<style type="text/css">
.panel-heading {
    position: relative;
}

.panel-heading[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    /* "play" icon */
    position: absolute;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
</style>
<br>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="$ctrl.value">
    </div>
    <div class="col-sm-1">
        <button type="button" ng-click="$ctrl.listofdoc($ctrl.value)" class="btn btn-primary">Find Doctor</button>
    </div>
</div>
<br>
<div class="well">
    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <h4 class="panel-title text-center"><b style="font-size: 20px;">General Information</b></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Name:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.fullName" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Gender:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.gender" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Email:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.email" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Phone:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.phone" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Address:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.address1" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>State:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.state" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Country:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.county" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>Fax:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.fax" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-2">
                                <label>MSA:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success.Items[0].physician.msa" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h3><b style="font-size: 20px;">Referrences</b></h3>
                </div>
                <div class="col-sm-2 pull-right">
                    <a href="" ng-click="$ctrl.clear()">X</a>
                    <button type="button" ng-click="$ctrl.searchvalue($ctrl.search)" class="btn btn-primary">Search</button>
                </div>
                <div class="col-sm-1 pull-right">
                    <input type="text" class="form-control" style="width: 150px;" ng-model="$ctrl.search">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div style="height:500px;overflow:auto;">
                <table class="table table-striped text-center">
                    <tr>
                        <th style="font-size: 15px;" class="text-center"></th>
                        <th style="font-size: 15px;" class="text-center">NPINumber</th>
                        <th style="font-size: 15px;" class="text-center">Same Day Count</th>
                        <th style="font-size: 15px;" class="text-center">Taxonomy</th>
                        <th style="font-size: 15px;" class="text-center">Pair Count</th>
                        <th style="font-size: 15px;" class="text-center">Bene Count</th>
                    </tr>
                    <tr ng-repeat-start="doc in $ctrl.doctorDetail.success.Items[0].items | filter: $ctrl.dummy">
                        <!-- <td ><button class="btn btn-primary btn-sm"><span  ng-click="expanded = !expanded" class="glyphicon glyphicon-plus"></span></button></td> -->
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="expanded = !expanded">
                                <span ng-bind="expanded ? '-' : '+'"></span>
                            </button>
                        </td>
                        <td>{{doc.NPINumber2}}</td>
                        <td>{{doc.sameDayCount}}</td>
                        <td>{{doc.taxonomy}}</td>
                        <td>{{doc.pairCount}}</td>
                        <td>{{doc.beneCount}}</td>
                    </tr>
                    <tr ng-repeat-end ng-show="expanded">
                        <!-- <td></td>
                <td colspan="6">
                	<table style="border:1px solid #000; width:100%;">
                    		<tr>value</tr>
                    	</table>
                </td> -->
                        <!-- <table>
                    		<tr>value</tr>
                    	</table> -->
                        <td></td>
                        <td>value</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
